#================================================
# Keil µVision
#================================================

keil/*lst
keil/*obj
keil/*M51
keil/*plg
keil/*lnp
keil/GProject

#================================================
# Proteus
#================================================

proteus/*pdsbak
